IHeader set Access-Control-Allow-Origin *
# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch
RewriteEngine on
RewriteRule ^/?user/([0-9]+)$  api.php?id=$1
